html{
  background-color: #4F77ED;
  color: #4FEDB9;
  font-family: 'Shadows Into Light', cursive;
  }
hr {
  color: black;
  position: center;
}
span {
  height: 100px;
  width: 100px;
}

header {
  display: block;
  font-size: 30pt;
  text-align: center;
  background: #6303BE;
}
.header_name {
  font-size: 50pt;
  margin-bottom: 200px;
}
h2{
  display: inline-block;
}
}
title {
  font-family: chewy;

    }


section {
  display: inline-block;
  margin-top: 75px;
  font-size:20px;
}

.social_media {
  position: absolute;
  bottom: 15px;
  left: 350px;
  right: 350px;

  width: 200px;
  display: block;

}
.social_media:hover {
  color: #f9398c;
}
/* .profile {
  height: 300px;
  width: 300px;
} */

footer {
  display: inline;
  font-size: 5px;
  width: 100%;
  background-color: gray;

}

p a:hover,
h3 a:hover {
  color: #6E0455;
}

/* body {
  margin-bottom: 120px;
} */
.offscreen {
  position: absolute;
  top: -30em;
  left: -300em;
}

nav {
   margin: 0;
   padding: .3em 0 .3em 0;
   /*background: #6E0455;*/

   width: 100%;
   text-align: center;
   font-size: 20px;
}

nav ul {
   list-style: none;
   margin-right: 15px;
   padding: 0;
   text-align: right;
}

nav ul li {
   margin: 0;
   padding: 0;
   display: inline;


}

nav ul a:link{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: 15pt;
   color: #4FEDB9;
}

nav ul a:visited{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #63F2BE;
}

nav ul a:active{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #227755;
}

nav ul a:hover{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #9514A0;
   background-color: gray;
}
p {
  font-size: 15pt;
}
.footer {
  text-align: center;

}