html{
  background-color: #B2ABAB;
  color: #6E0455;
  }
hr {
  color: black;
}
span {
  height: 100px;
  width: 100px;
}

header {
  font-family: 'IM Fell Great Primer', serif;
  text-align; center;
  margin-left: auto;
  margin-right: auto;
  position: center;

}
h2{
  display: inline-block;
}
}
title {
  font-family: chewy;

    }



section {
  display: inline-block;
  margin-top: 75px;
  font-size:20px;
}

.social_media



.profile {
  height: 300px;
  width: 300px;
}

footer {
  margin-bottom: 50px;
}
.profile_combo {

}



}
p a:hover,
h3 a:hover {
  color: #6E0455;
}

body {
  padding-bottom: 50px;
}