html {
  background-image: url("http://thumbs.dreamstime.com/t/green-wallpaper-pattern-background-abstract-39786633.jpg");
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  color: #0C1747;
}

body {
  margin-left: 250px;
  list-style: circle;
  font-size: 25px;
}

ul {
  list-style: square;
}
  table, th, td {
    border: 1px solid black;
}
