html {
  /*background-image: url("http://bgfons.com/upload/lines_texture1090.jpg");*/
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  background-color: #4F77ED;
  color: #4FEDB9;
  font-family: transitional san serif;
}

nav {
   margin: 0;
   padding: .3em 0 .3em 0;
   background: #6303BE;
   width: 100%;
   text-align: center;
   font-size: 20px;
}

nav ul {
   list-style: none;
   margin-right: 15px;
   padding: 0;
   text-align: right;
}

nav ul li {
   margin: 0;
   padding: 0;
   display: inline;


}

nav ul a:link{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: 15pt;
   color: #4FEDB9;
}

nav ul a:visited{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #4FEDB9;
}

nav ul a:active{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #4FEDB9;

}

nav ul a:hover{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #9514A0;
   background-color: gray;
}
sidebar {
  float: right;
  width: 200px;
  margin-top: 50px;
}
body {
  list-style: circle;
  font-size: 25px;
}

ul {
  list-style: inside circle;
  font: #4FEDB9;
}
  table, th, td {
    border: 1px solid black;
}
    .social-twitter {background-color: #cccccc;}
    .social-facebook {background-color: #f9398c;}
    .social-email {background-color: #ad2744;}
    .social-rss {background-color: #cccccc;}
    .social-google {background-color: #cccccc;}
    .social-flickr {background-color: #f9398c;}
    .social-linkedin {background-color: #cccccc;}
    .social-youtube {background-color: #cccccc;}
    .social-vimeo {background-color: #cccccc;}
    .social-instagram {background-color: #cccccc;}
    .social-bloglovin {background-color: #cccccc;}
    .social-pinterest {background-color: #cccccc;}
    .social-tumblr {background-color: #cccccc;}

    .social-twitter:hover {background-color: #f9398c;}
    .social-facebook:hover {background-color: #f9398c;}
    .social-email:hover {background-color: #aaaaaa;}
    .social-rss:hover {background-color: #f9398c;}
    .social-google:hover {background-color: #f9398c;}
    .social-flickr:hover {background-color: #f993bf;}
    .social-linkedin:hover {background-color: #f9398c;}
    .social-youtube:hover {background-color: #ff0000;}
    .social-vimeo:hover {background-color: #00c1f8;}
    .social-instagram:hover {background-color: #f9398c;}
    .social-bloglovin:hover {background-color: #00c4fd;}
    .social-pinterest:hover {background-color: #c70505;}
    .social-tumblr:hover {background-color: #304d6b;}
